* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: left;
  font-family: 'Helvetica, Verdana, sans-serif';
  font-size: 1.25rem;
  background-color: #404040;
  color: #e0e0e0;
  text-rendering: optimizeSpeed;
  line-height: 1.5em;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main {
  position: relative;
  top: 50%;
  width: 1067px;
  margin: 0 auto;
  transform: translateY(-50%);
  overflow: hidden;
}
h1, .focus {
  text-align: center;
  font-size: 1.5rem;
}
h1, p {
  padding: 1rem;
}
h1, a:hover, a:active, a:focus {
  color: #ffffff;
}
.smaller, .smaller code {
  font-size: .8em;
}
code {
  font-size: .8em;
  font-family: Consolas, 'Andale Mono', 'Lucida Console', Monaco, monospace;
}
code.key {
  padding: .1em .25em;
  border: 1px solid #004000;
  border-radius: .25em;
  background-color: #004000;
}
