* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Trebuchet MS', Helvetica, Verdana, Geneva, Calibri, sans-serif;
  background-color: #000000;
  color: #c0c0c0;
  text-rendering: optimizeSpeed;
}
